
/*general selections */
body , html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
footer{
    background-color: #000056;
}

body{
    background-color: #f4f3f3;


}

h1
,h2{
    color: #000056;
}

header{
   position: relative;
   height: auto;
}

nav{
    position:sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 100;

}

/*Navbar styling*/
#Navbar{
    background-color: #ffffff;
    display: flex ;
    height: 75px;
    margin: 20px 30px 0 30px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 5px  rgba(56, 51, 51, 0.2);
    gap:90px;
    border-radius: 5px;
}

#Navbar .menu-element{
    display: inline-block;
    align-self: center;
    
   
}

#Navbar img {
    display: inline-block;
    margin-left: 15px;
}

#Navbar img:hover{
    transform: scale(1.03);
}

.menu-element li {
    display: inline-block;
    margin: 0 10px;

}

.menu-element li a{
    color:#000056;
    border: none;
    text-decoration: none;
}

.menu-element li a:before{
    border: none;
}

.menu-element li a:active{
    color:red;
    border: 0 0 1px 0 solid #000056;
}

.Nav-button{
    display: flex;
    align-items: start;
    gap: 15px;
    margin-right: 25px;
    
}

.secondary-button{
    box-sizing: unset;
    background-color: #ffffff;
    color: #1DC6C6;
    border: 1px solid #1DC6C6;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

 .secondary-button:hover {
    background-color: #1DC6C6;
    color: #ffffff;
    border: 1px solid #1DC6C6;
}

.primary-button {
    box-sizing: unset;
    background-color: #1DC6C6;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-left:  20px;
    padding-right: 20px;
    font-size: 16px;

}

.primary-button:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/* Head section styles*/
#head-section{
    margin-top: 50px;
    display: flex;
}

#head-section div {
    display: inline-block;
    
}
#head-section div div {
    display: flex;
    
}

#head-section div div div{
    display: inline-block;
    
} 

#head-section div div #ski img {
    display: block;
    
}

#head-section div div div img {
    display: block;
    margin: 0px 12px;
}

/*hrw styling*/

#hrw {
margin: 85px 30px 0 30px;     
height: 100%; 
  }

#hrw p{
text-align: center;
font-size: 22px;
    }

#hrw div div p{
    color: #000056;
    text-align: center;
}


 .Ctitle{
text-align: center;
font-size: 42px;
color: #000056;
font-weight: bold;
margin-bottom: 20px;
}

.description{
    align-self: center;
}

/*Pourquoi section styling*/
#Pourquoi
{
    margin: 85px 30px 0 30px;
    
}

#boxes {
    margin: auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;
}

#boxes div{
    border-radius: 15px;
    background-color: #1DC6C6;
    align-tracks: center;
    height: 300px;
 
}

/*decouvrir notre app styles*/
#decouvrir{
   margin: 85px 30px 0 30px;
}


